.App {
  text-align: center;
}

/* @font-face {
  font-family: 'HarvestBarnRegular';
  src: local('HarvestBarnRegular'), url(./fonts/HarvestBarnRegular.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'PierSans';
  src: local('PierSans'), url(./fonts/PierSansRegular.woff2) format('woff2');
  font-style: normal;
} */

#logo1 {
  /*Furkan*/
  font-family: 'Caveat', cursive;
  margin-bottom: 5px;
}

menu a {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .MuiGrid-container {
    flex-direction: column;
  }
}